<?xml version='1.0' encoding='utf-8'?>
<widget id="org.elastos.trinity.runtime" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>elastOS</name>
    <description>
        A elastos dapps runtime.
    </description>
    <author email="chendongxiao@elastos.org" href="http://www.elastos.org">
        Elastos Trinity Team
    </author>
    <content src="launcher/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <hook src="scripts/download_3rdparty.js" type="after_platform_add" />
    <hook src="scripts/merge_folders.js" type="after_platform_add" />
    <hook src="scripts/apply_patches.js" type="after_platform_add" />
    <hook src="scripts/remove_files.js" type="after_platform_add" />
    <hook src="scripts/modify_xcode_project.js" type="after_platform_add" />
    <hook src="scripts/apply_patches.js" type="before_plugin_install" />
    <hook src="scripts/apply_patches.js" type="after_build" />
    <plugin name="elastos-trinity-plugins-appmanager" spec="./plugin_src/AppManager">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-file" spec="../Plugins/File" />
    <plugin name="elastos-trinity-plugins-carrier" spec="../Plugins/Carrier" />
    <plugin name="elastos-trinity-plugins-did" spec="../Plugins/DID" />
    <plugin name="elastos-trinity-plugins-hive" spec="../Plugins/Hive" />
    <plugin name="elastos-trinity-plugins-ionicwebview" spec="../Plugins/IonicWebView" />
    <plugin name="elastos-trinity-plugins-qrscanner" spec="../Plugins/QRScanner" />
    <plugin name="elastos-trinity-plugins-media" spec="../Plugins/Media">
        <variable name="KEEP_AVAUDIOSESSION_ALWAYS_ACTIVE" value="NO" />
    </plugin>
    <plugin name="elastos-trinity-plugins-wallet" spec="../Plugins/Wallet" />
    <plugin name="elastos-trinity-plugins-fingerprint" spec="../Plugins/Fingerprint" />
    <plugin name="cordova-plugin-battery-status" spec="^2.0.3" />
    <plugin name="cordova-plugin-camera" spec="^4.1.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-device-motion" spec="^2.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
    <plugin name="cordova-plugin-flashlight" spec="^3.2.0" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.1.0" />
    <plugin name="cordova-plugin-media-capture" spec="^3.0.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.2" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <engine name="android" spec="7.1.4" />
    <engine name="ios" spec="5.1.1" />
</widget>
