<?xml version='1.0' encoding='utf-8'?>
<widget id="org.elastos.trinity.runtime" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Elastos</name>
    <description>
        A elastos dapps runtime.
    </description>
    <author email="chendongxiao@elastos.org" href="http://www.elastos.org">
        Elastos System Team
    </author>
    <content src="launcher_demo/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="elastos-trinity-plugins-appmanager" spec="https://github.com/elastos/Elastos.Trinity.Runtime.Plugins.AppManager.git#dev" />
    <plugin name="elastos-trinity-plugins-appservice" spec="https://github.com/elastos/Elastos.Trinity.Runtime.Plugins.AppService.git#dev" />
    <plugin name="elastos-trinity-plugins-plugindemo" spec="https://github.com/elastos/Elastos.Trinity.Runtime.Plugins.PluginDemo.git#dev" />
    <plugin name="elastos-trinity-plugins-dialogs" spec="https://github.com/elastos/Elastos.Trinity.Plugins.Dialog.git#dev" />
    <plugin name="elastos-trinity-plugins-qrscanner" spec="https://github.com/elastos/Elastos.Trinity.Plugins.QRScanner.git#dev" />
    <plugin name="elastos-trinity-plugins-geolocation" spec="https://github.com/elastos/Elastos.Trinity.Plugins.Geolocation.git#dev" />
    <plugin name="elastos-trinity-plugins-media" spec="https://github.com/elastos/Elastos.Trinity.Plugins.Media.git#dev" />
    <plugin name="elastos-trinity-plugins-flashlight" spec="https://github.com/elastos/Elastos.Trinity.Plugins.Flashlight.git#dev" />
    <plugin name="elastos-trinity-plugins-device" spec="https://github.com/elastos/Elastos.Trinity.Plugins.Device.git#dev" />
    <plugin name="elastos-trinity-plugins-vibration" spec="https://github.com/elastos/Elastos.Trinity.Plugins.Vibration.git#dev" />
    <plugin name="elastos-trinity-plugins-statusbar" spec="https://github.com/elastos/Elastos.Trinity.Plugins.Statusbar.git#dev" />
    <plugin name="elastos-trinity-plugins-camera" spec="https://github.com/elastos/Elastos.Trinity.Plugins.Camera.git#dev" />
    <plugin name="elastos-trinity-plugins-device-motion" spec="https://github.com/elastos/Elastos.Trinity.Plugins.DeviceMotion.git#dev" />
    <plugin name="elastos-trinity-plugins-splashscreen" spec="https://github.com/elastos/Elastos.Trinity.Plugins.SplashScreen.git#dev" />
    <plugin name="elastos-trinity-plugins-battery-status" spec="https://github.com/elastos/Elastos.Trinity.Plugins.BatteryStatus.git#dev" />
    <plugin name="elastos-trinity-plugins-capture" spec="https://github.com/elastos/Elastos.Trinity.Plugins.MediaCapture.git#dev" />
    <plugin name="elastos-trinity-plugins-screen-orientation" spec="https://github.com/elastos/Elastos.Trinity.Plugins.ScreenOrientation.git#dev" />
    <plugin name="elastos-trinity-plugins-inappbrowser" spec="https://github.com/elastos/Elastos.Trinity.Plugins.InappBrowser.git#dev" />
    <plugin name="elastos-trinity-plugins-network-information" spec="https://github.com/elastos/Elastos.Trinity.Plugins.NetWorkInformation.git#dev" />
    <engine name="android" spec="7.1.4" />
    <engine name="ios" spec="4.5.5" />
</widget>
