<?xml version='1.0' encoding='utf-8'?>
<widget id="org.elastos.trinity.runtime" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trinity</name>
    <description>
        A elastos dapps runtime.
    </description>
    <author email="chendongxiao@elastos.org" href="http://www.elastos.org">
        Elastos System Team
    </author>
    <content src="launcher/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AndroidLaunchMode" value="singleTask" />
    <hook src="scripts/download_3rdparty.js" type="after_platform_add" />
    <hook src="scripts/merge_folders.js" type="after_platform_add" />
    <hook src="scripts/apply_patches.js" type="after_platform_add" />
    <hook src="scripts/remove_files.js" type="after_platform_add" />
    <hook src="scripts/modify_xcode_project.js" type="after_platform_add" />
    <hook src="scripts/apply_patches.js" type="after_plugin_install" />
    <plugin name="elastos-trinity-plugins-appmanager" spec="../Plugins/AppManager">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="elastos-trinity-plugins-appservice" spec="../Plugins/AppService" />
    <plugin name="elastos-trinity-plugins-battery-status" spec="../Plugins/BatteryStatus" />
    <plugin name="cordova-plugin-file" spec="../Plugins/File" />
    <plugin name="elastos-trinity-plugins-camera" spec="../Plugins/Camera">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="elastos-trinity-plugins-carrier" spec="../Plugins/Carrier" />
    <plugin name="elastos-trinity-plugins-device" spec="../Plugins/Device" />
    <plugin name="elastos-trinity-plugins-device-motion" spec="../Plugins/DeviceMotion" />
    <plugin name="elastos-trinity-plugins-dialogs" spec="../Plugins/Dialog" />
    <plugin name="elastos-trinity-plugins-geolocation" spec="../Plugins/Geolocation" />
    <plugin name="elastos-trinity-plugins-flashlight" spec="../Plugins/Flashlight" />
    <plugin name="elastos-trinity-plugins-hive" spec="../Plugins/Hive" />
    <plugin name="elastos-trinity-plugins-inappbrowser" spec="../Plugins/InappBrowser" />
    <plugin name="elastos-trinity-plugins-media" spec="../Plugins/Media">
        <variable name="KEEP_AVAUDIOSESSION_ALWAYS_ACTIVE" value="NO" />
    </plugin>
    <plugin name="elastos-trinity-plugins-capture" spec="../Plugins/MediaCapture" />
    <plugin name="elastos-trinity-plugins-network-information" spec="../Plugins/NetWorkInformation" />
    <plugin name="elastos-trinity-plugins-plugindemo" spec="../Plugins/PluginDemo" />
    <plugin name="elastos-trinity-plugins-qrscanner" spec="../Plugins/QRScanner" />
    <plugin name="elastos-trinity-plugins-screen-orientation" spec="../Plugins/ScreenOrientation" />
    <plugin name="elastos-trinity-plugins-splashscreen" spec="../Plugins/SplashScreen" />
    <plugin name="elastos-trinity-plugins-statusbar" spec="../Plugins/Statusbar" />
    <plugin name="elastos-trinity-plugins-vibration" spec="../Plugins/Vibration" />
    <plugin name="elastos-trinity-plugins-wallet" spec="../Plugins/Wallet" />
    <plugin name="elastos-trinity-plugins-ionicwebview" spec="../Plugins/IonicWebView" />
    <engine name="android" spec="7.1.4" />
    <engine name="ios" spec="4.5.5" />
</widget>
